/* Tambahkan CSS khusus di sini */
body {
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
}

h2 {
    color: #007bff;
}

.table-responsive {
    border: 1px solid #dee2e6;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}
/* Tema Terang */
.navbar-light {
    background-color: #f8f9fa; /* Warna background */
    color: #333; /* Warna font */
}

/* Tema Gelap (Navy) */
.navbar-dark {
    background-color: #001f3f; /* Warna background */
    color: #ffffff; /* Warna font */
}
